---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';

const { searchParams } = new URL(Astro.request.url);
const query = searchParams.get('query') || '';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Discover | ${SITE_TITLE}`} description="Temukan gizi pemandu perjalananmu" />
  </head>
  <body>
    <Header />
    <main style="max-width: 700px; margin: 0 auto; padding: 3em 1em;">
      <h1>Jelajahi</h1>
      <p>Temukan gizi pemandu perjalananmu sesuai tujuan hidupmu yang bermakna.</p>
      <div style="margin-top:2em;">
        <h2>Jelajahi '{query ? query : 'semua pemandu perjalanan'}'</h2>
        <p>(Konten hasil pencarian akan ditampilkan di sini.)</p>
      </div>
    </main>
    <Footer />
  </body>
</html> 